.RData
.Rhistory
.Rprofile

renv/library/R-4.1
renv/settings.json
.Rproj.user/ACACBB28
.Rproj.user/shared/notebooks
renv
.Rproj.user

Datos
Datos3Ivan/702825218744_s
Datos3Ivan/08m.cpg
Datos3Ivan/08m.dbf
Datos3Ivan/08m.prj
Datos3Ivan/08m.shp
Datos3Ivan/08m.shx
Datos3Ivan/09m.dbf
Datos3Ivan/centroides_mzn_cdmx.csv
Datos3Ivan/da_carpetas-de-investigacion-pgj-cdmx (1).csv
Datos3Ivan/escuelas.csv
Datos3Ivan/RESAGEBURB_08CSV20.csv
Datos3Ivan/RESAGEBURB_09CSV20.csv
Datos3Ivan/Tarea3_cache
Datos3Ivan/Tarea3_files